@use "src/styles/colors";

.container {
  background-color: colors.$BLACK;
  width: 100%;
  min-height: 90vh;
  padding: 50px;

  display: flex;
  justify-content: center;

  .postPosition {
    width: 100%;
    max-width: 780px;

    main[class~="notion"] {
      width: 100%;
      margin: 0 auto;
      padding: 0;

      ul,
      li {
        list-style: initial;
      }
    }
  }
}
