@use 'src/styles/colors';

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 90vh;
  padding: 1.5em;
  background-color: colors.$BLACK;

  .postPosition {
    width: 100%;
    max-width: 780px;

    .postHeader {
      margin-bottom: 1.4em;
    }

    main[class~='notion'] {
      width: 100%;
      padding: 0;
      margin: 0 auto;

      ul,
      li {
        list-style: initial;
      }

      ol:not(& > ol) {
        padding: 0;
      }
    }
  }
}
