$GRAY: #718096;
$SBLACK: #303846;
$BLACK: black;
$PUPLE: #8d99ff;
$SWHITE: #606770;
$BLUE: #3498db;
$SGRAY: #e2e8f0;
$SSBLACK: #75809d;
$WHITE: #ffffff;
$SSGRAY: #e2e8f0;
$LINK: #bdc3c7;

$TEMPBLACK: #242526;
