$GRAY: #718096;
$SGRAY: #e2e8f0;
$BLACK: black;
$SBLACK: #303846;
$SSBLACK: #75809d;
$PUPLE: #8d99ff;
$BLUE: #3498db;
$WHITE: #fff;
$SWHITE: #606770;
$LINK: #bdc3c7;
$SPINK: #d49466;
$TEMPBLACK: #242526;
