@use "src/styles/colors";

.category {
  display: flex;
  padding-top: 15px;
  padding-bottom: 50px;

  li,
  button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  li {
    height: 35px;
    margin-right: 15px;
    word-break: keep-all;
    background-color: colors.$WHITE;
    transition: 0.2s ease-out;

    button {
      width: 100%;
      height: 100%;

      color: colors.$BLACK;
      padding: 2px 15px;
      user-select: none;
      background-color: transparent;
      font-size: 1em;

      &:disabled {
        cursor: not-allowed;
      }

      &:hover {
        color: colors.$WHITE !important;
        background-color: colors.$PUPLE;
      }
    }
  }
}
